[submodule "lib/j2534"]
	path = lib/j2534
	url = git@github.com:dschultzca/j2534.git
[submodule "disassembly/nissutils"]
	path = disassembly/nissutils
	url = git@github.com:fenugrec/nissutils.git
[submodule "rxkern"]
	path = rxkern
	url = git@github.com:connorrigby/rxkern.git
